.row
  .col-xs-12.col-md-12
    %h1.text-center
      %b EuroBSDcon Foundation
.row
  .col-xs-6.col-md-6
    %i
      EuroBSDcon Foundation
      %br
      Postbus 364
      %br
      3990 GD Houten
      %br
      The Netherlands
      %br
      www.eurobsdconfoundation.org

  .col-xs-6.col-md-6
    %i
      .text-right
        Bank account
        %br
        Rabobank Houten
        %br
        IBAN: NL63 RABO 0170 6518 94
        %br
        BIC/SWIFT: RABONL2U
        %br
        KVK NL: 54254515
