.container
  .row
    .col-md-12
      %hr
      .text-center
        EuroBSDcon Foundation is registered with the Kamer van Koophandel (Chambre of Commerce)
        %br
        in the Netherlands as "Stichting EuroBSDcon" under number 54254515
