.container

  - invoice = @invoice

  .row
    .hidden-print
      .col-md-10.col-md-offset-1
        = link_to 'PDF',
        user_invoice_path(current_user, invoice,
                          format: 'pdf'),
        class: 'btn btn-success'

      %p{ style: 'height: 50px' }

  = render partial: 'invoice_pdf', locals: { invoice: invoice }
