- if sponsor.transition_possible? :confirm
  %li
    = link_to 'Confirm',
              confirm_admin_conference_sponsor_path(@conference.short_title, sponsor.id),
              method: :patch, remote: true
- if sponsor.transition_possible? :cancel
  %li= link_to 'Cancel', cancel_admin_conference_sponsor_path(@conference.short_title, sponsor.id),
  method: :patch, remote: true
