!!!
%html
  %head
    %meta{ charset: 'utf-8' }

  %body
    %hr{ style: 'border-top: 2px solid #ffffff !important;'}
    %div{ style: 'text-align: center !important;' }
      EuroBSDcon Foundation is registered with the Kamer van Koophandel (Chambre of Commerce)
      %br
      in the Netherlands as "Stichting EuroBSDcon" under number 54254515
