table.invoice-table {
    border-style: hidden;
}

table.invoice-table th {
    border-bottom: 1px solid black !important;
}

table.invoice-table td {
    border-bottom: 0px !important;
    border-top: 0px !important;
}

dl.invoice {
  display: flex !important;
}

dl.invoice dt {
  width: 25%;
}

h1 {
  font-size: 46px !important;
}
